#main {
  text-align: center;
  padding: 20px;
  margin: 30px;
  font-family: sans-serif;
  color: white;
  background: rgb(78, 145, 94);
}

#title {
  font-size: 60px;
  margin-top: 0;
}

#image {
  width: 447px;
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
  align-self: center;
}

#img-caption {
  font-size: 18px;
  margin: 0 auto 20px auto;
  font-style: italic;
  background: hsl(188, 62%, 55%);
  width: 100%;
  max-width: 447px;
}

#tribute-info {
  background: rgb(190, 190, 190);
  color: black;
  margin: auto;
  width: 447px;
  max-width: 100%;
}

#tribute-link {
  display: block;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  margin-top: 15px;
}